@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Shared Styles */
:root {
    /* Font Family  */
    --primary-font: 'Mulish', sans-serif;
    --secondary-font: 'Inter', sans-serif;

    /* Color  */
    --primary-color: #FF4A4A;
    --secondary-color: #131318;
    --optional-color: rgba(19, 19, 24, 0.70);

    /* Size  */
    --primary-size: 1rem;
    --secondary-size: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    line-height: normal;
}

.container {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}

.shared-title {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: var(--secondary-size);
    font-weight: 800;
}

.shared-description {
    color: var(--optional-color);
    font-family: var(--primary-font);
    font-size: var(--primary-size);
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
    max-width: 40.19rem;
    margin: 1.5rem 0;
}

.shared-button {
    color: #FFF;
    background: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 0.5rem;
    border: none;
    padding: 0.94rem 2.2rem;
    cursor: pointer;
}

.brand-color {
    color: var(--primary-color);
}

/* <!-- Header Section  -->  */
#head {
    padding: 3.125rem 0 6.125rem;
}

/* Nav Section  */
#head .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head .nav .nav-name,
#head .nav .nav-list {
    width: 50%;
}

#head .nav .nav-name {
    display: flex;
    gap: 1rem;
}

#head .nav .nav-name img {
    width: 100%;
    max-width: 3rem;
}

#head .nav .nav-name .nav-title {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 2.25rem;
    font-weight: 800;
}

#head .nav .nav-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head .nav .nav-list ul>li {
    list-style: none;
}

#head .nav .nav-list ul>li a {
    text-decoration: none;
    color: #424247 !important;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

#head .nav .nav-list .hamburger {
    display: none;
}

/* Banner Section  */
#head .banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 90rem;
    height: 31.25rem;
    border-radius: 1rem;
    margin: 3.5rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#head .banner .banner-title {
    color: #FFF;
    font-family: var(--primary-font);
    font-size: 4rem;
    font-weight: 800;
}

#head .banner .banner-description {
    color: #FFF;
}

#head .banner .banner-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
}

#head .banner .banner-input .input-container {
    position: relative;
}

#head .banner .banner-input .input-container input[type="text"] {
    padding: 1rem;
    width: 100%;
    max-width: 10.9rem;
    border: none;
    border-radius: 0.5rem;
}

#head .banner .banner-input .input-container #input-icon {
    position: absolute;
    bottom: 35%;
    right: 10%;
    font-size: 1.2rem;
    color: var(--optional-color);
}

/* <!-- Main Section  -->  */
#main {
    padding-bottom: 6.125rem;
}

/* Our Popular Tours  */
#main #popular-tours .popular-tours-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main #popular-tours .popular-tours-container .popular-tours-content ul li {
    margin-bottom: 1.5rem;
}

#main #popular-tours .popular-tours-container .popular-tours-img img {
    width: 100%;
    max-width: 33.75rem;
    border-radius: 1rem;
}

/* Choose Your Destination */
#your-destination {
    margin-top: 6.125rem;
}

#your-destination .your-destination-container {
    display: flex;
    flex-direction: column;
}

#your-destination .your-destination-container .your-destination-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

#your-destination .your-destination-container .your-destination-places {
    display: grid;
    gap: 1.5rem;
}

#your-destination .your-destination-container .your-destination-places .first-row-places {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

#your-destination .your-destination-container .your-destination-places .second-row-places {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1fr;
    gap: 1.5rem;
}

#your-destination .your-destination-container .your-destination-places .third-row-places {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    gap: 1.5rem;
}

#your-destination .your-destination-container .your-destination-places .destination-places {
    position: relative;
}

#your-destination .your-destination-container .your-destination-places .destination-places img {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    border-radius: 1rem;
}

#your-destination .your-destination-container .your-destination-places .destination-places h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: var(--primary-font);
    font-size: 1.75rem;
    font-weight: 800;
}

/* Why Choose Us */
#choose-us {
    margin-top: 6.125rem;
}

#choose-us .choose-us-container {
    display: flex;
    flex-direction: column;
}

#choose-us .choose-us-container .choose-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

#choose-us .choose-us-container .choose-us-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#choose-us .choose-us-container .choose-us-card .card-content {
    flex-basis: 35.8125rem;
    height: 17.75rem;
    padding: 2rem;
}

#choose-us .choose-us-container .choose-us-card .card-content img {
    width: 100%;
    max-width: 4rem;
}

#choose-us .choose-us-container .choose-us-card .card-content .card-title {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 800;
    margin: 2rem 0 1rem;
}

#choose-us .choose-us-container .choose-us-card .card-content .card-description {
    color: #5A5A5D;
    font-family: var(--primary-font);
    font-size: var(--primary-size);
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
    max-width: 30.375rem;
}

#choose-us .choose-us-container .choose-us-card #card-1 {
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#choose-us .choose-us-container .choose-us-card #card-2 {
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#choose-us .choose-us-container .choose-us-card #card-3 {
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Client Review (Extra Section) */
#client-review {
    margin-top: 6.125rem;
}

#client-review .client-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#client-review .client-review-container .client-review-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}
#client-review .client-review-container .client-review-box .client-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

#client-review .client-review-container .client-review-box .client-review .client-img{
    padding: 0.5rem;
    border: 3px solid #131318;
    border-radius: 50%;
}

#client-review .client-review-container .client-review-box .client-review .client-img img {
    width: 100%;
    max-width: 12.5rem;
    object-fit: cover;
    border-radius: 50%;
}

#client-review .client-review-container .client-review-box .client-review .client-name {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 800;
    text-align: center;
    margin-top: 0.5rem;
}

#client-review .client-review-container .client-review-box .client-review .client-remarks {
    font-size: var(--primary-font);
    font-family: var(--primary-font);
    font-weight: 400;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 18rem;
    color: var(--optional-color);
    text-align: justify;
}
#client-review .client-review-container .client-review-box .client-review .review-icon{
    display: flex;
    gap: 1rem;
}
#client-review .client-review-container .client-review-box .client-review .review-icon i{
    font-size: 1.2rem;
    color: #F6BF1B;
}

/* <!-- Footer Section  -->  */