/* Small Device  */
@media only screen and (max-width: 600px) {
    :root {
        /* Font Family  */
        --primary-font: 'Mulish', sans-serif;
        --secondary-font: 'Inter', sans-serif;

        /* Color  */
        --primary-color: #FF4A4A;
        --secondary-color: #131318;
        --optional-color: rgba(19, 19, 24, 0.70);

        /* Size  */
        --primary-size: 0.875rem;
        --secondary-size: 1.25rem;
    }

    .shared-description {
        line-height: 1.5rem;
        max-width: 19.32rem;
        margin: 1rem 0;
    }

    /* <!-- Header Section  -->  */
    #head {
        padding: 1.25rem 0 1.5rem;
    }

    /* Nav Section  */
    #head .nav .nav-name {
        gap: 0.6rem;
    }

    #head .nav .nav-name img {
        max-width: 1.80rem;
    }

    #head .nav .nav-name .nav-title {
        font-size: 1.35rem;
    }

    #head .nav .nav-list ul {
        display: none;
    }

    #head .nav .nav-list .hamburger {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    /* Banner Section  */
    #head .banner {
        max-width: 20.94rem;
        height: 30.2rem;
        margin: 1.12rem auto 0;
    }

    #head .banner .banner-title {
        font-size: 1.4rem;
    }

    #head .banner .banner-input {
        flex-direction: column;
    }

    #head .banner .banner-input .input-container input[type="text"] {
        max-width: 16rem;
    }

    /* <!-- Main Section  -->  */
    #main {
        padding-bottom: 1.5rem;
    }

    /* Our Popular Tours  */
    #main #popular-tours .popular-tours-container {
        flex-direction: column;
        gap: 2.30rem;
    }

    #main #popular-tours .popular-tours-container .popular-tours-content ul li {
        margin-bottom: 0.75rem;
    }

    #main #popular-tours .popular-tours-container .popular-tours-img img {
        max-width: 20.94rem;
    }

    /* Choose Your Destination */
    #your-destination {
        margin-top: 1.5rem;
    }

    #your-destination .your-destination-container .your-destination-content {
        margin-bottom: 1rem;
    }

    #your-destination .your-destination-container .your-destination-places {
        gap: 1rem;
    }

    #your-destination .your-destination-container .your-destination-places .first-row-places {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #your-destination .your-destination-container .your-destination-places .second-row-places {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #your-destination .your-destination-container .your-destination-places .third-row-places {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #your-destination .your-destination-container .your-destination-places .destination-places img {
        height: 11rem;
    }

    #your-destination .your-destination-container .your-destination-places .destination-places h3 {
        font-size: 1.25rem;
    }

    /* Why Choose Us */
    #choose-us {
        margin-top: 1.5rem;
    }

    #choose-us .choose-us-container .choose-us-content {
        margin-bottom: 1rem;
    }

    #choose-us .choose-us-container .choose-us-card {
        gap: 1rem;
    }

    #choose-us .choose-us-container .choose-us-card .card-content {
        flex-basis: 20.94rem;
        height: 18.1rem;
    }

    #choose-us .choose-us-container .choose-us-card .card-content img {
        max-width: 3rem;
    }

    #choose-us .choose-us-container .choose-us-card .card-content .card-title {
        font-size: 1.25rem;
        margin: 1rem 0;
    }

    #choose-us .choose-us-container .choose-us-card .card-content .card-description {
        line-height: 1.5rem;
        max-width: 16.94rem;
    }

    /* Client Review (Extra Section) */
    #client-review {
        margin-top: 1.5rem;
    }

    #client-review .client-review-container .client-review-box {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 1rem;
    }

    #client-review .client-review-container .client-review-box .client-review {
        padding: 1rem;
    }

    #client-review .client-review-container .client-review-box .client-review .client-img{
        padding: 0.3rem;
    }

    #client-review .client-review-container .client-review-box .client-review .client-img img {
        max-width: 10rem;
    }

    #client-review .client-review-container .client-review-box .client-review .client-name {
        font-size: 1rem;
        margin-top: 0.3rem;
    }

    #client-review .client-review-container .client-review-box .client-review .client-remarks {
        font-size: 0.75rem;
        margin: 0.3rem 0;
        max-width: 14rem;
    }

    #client-review .client-review-container .client-review-box .client-review .review-icon{
        gap: 0.7rem;
    }

    #client-review .client-review-container .client-review-box .client-review .review-icon i{
        font-size: 0.8rem;
    }

    /* <!-- Footer Section  -->  */
}